@font-face {
	font-family: 'Yekan';
	src: url( './Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './Yekan.woff2' ) format( 'woff2' ),
		url( './Yekan.woff' ) format( 'woff' ),
		url( './Yekan.ttf' ) format( 'truetype' ),
		url( './Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Yekan';
	src: url( './Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './Yekan.woff2' ) format( 'woff2' ),
		url( './Yekan.woff' ) format( 'woff' ),
		url( './Yekan.ttf' ) format( 'truetype' ),
		url( './Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Yekan';
	src: url( './Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './Yekan.woff2' ) format( 'woff2' ),
		url( './Yekan.woff' ) format( 'woff' ),
		url( './Yekan.ttf' ) format( 'truetype' ),
		url( './Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'Yekan-Corrected';
	src: url( './Yekan-corrected.ttf' );
}
